*{
    box-sizing: border-box;
}

body {
    background-color: lightblue;
  }

iframe#show-iframe {
    width: 100%;
    border: 0;
    /* background-color: aqua; */
    background-color: #fff;
    height: 50rem;
    
}

@import './counter-app/counter-app.css';
@import './faq-component/faq.css';
@import './bgColorChanger/bgColorChanger.css';